













/* #carouselExampleSlidesOnly {
  width: 1773px;
  height: 432px;
} */

/* .buscar{
  position: absolute;
  padding: 2px;
  top: 30px;
  right: 900px;
}

.buscar input{
  width: 440px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: black;
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
}

.btn{
  position: absolute;
  top: -10px;
  right: 0px;
  background: #bc9bd8;
  width: 15%;
  height: 65px;
  line-height: 55px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  
} */